@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kufam', cursive;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ccc; 
}

::-webkit-scrollbar-thumb {
  background-color: #999; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}

h1 {
  margin-bottom: 1em;
  color: coral;
  font-size: 2em;
}

.book {
  position: relative;
  width: 383px;
  height: 567px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
}

.book:hover {
  transform: rotateY(35deg);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.book:active {
  transform: rotateY(180deg);
}

.book:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 100%;
  transform-origin: left;
  background-image: url('../assets/side.png');
  background-position: center;
  background-size: cover;
  transform: rotateY(90deg);
}

.book:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background-image: url('../assets/back.png');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg) translateZ(60px);
}

.book img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

